* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::-webkit-scrollbar {
    display: none;
}

.topnav {
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.container {
    width: 100vw;
    height: 100vh;
}

.container.main {
    width: auto;
    display: flex;
    flex-direction: row;
    width: 50vw;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .topnav {
        display: none;
    }
    .topnav.responsive {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
    }
}

.footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    color: black;
    align-items: baseline;
}